* {
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 {
    /* easy way to center a text horizontally and vertically */
    height: 5rem;
    line-height: 5rem; 
    background-color: #2A2D34;
    color: #f0ba08;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}

.choice {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.choice:hover {
    cursor: pointer;
    /* background-color: #2A2D34; */
    /* scale: 1.2; */
}

.choice img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choice img:hover{
    scale: 1.2;
}

.score-board {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 1.5rem;
}

#user-score, #comp-score {
    font-size: 3.5rem;
}

.msg-container {
    background-color: #2A2D34;
    color: white;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 5rem;
}

